/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face{
 font-family:'DigitalFont';
 src: url('/assets/custom-fonts/digital/digital-7.ttf');
} 

body {
  background-image: url('./assets/bg.jpg');
}

/* .mat-tab-label {
  color: white;
} */

.mat-tab-labels {
  background-color: white;
}

/* html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  color: #00e500;
  background-image: url('./assets/bg.jpg');
  font-family: 'DigitalFont';
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  line-height: 60px;
  padding-left: 50px;
} */


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* .container {
  width: auto;
  padding: 0 15px;
} */