/* div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}

.mat-expansion-panel-header  {
    height: 48px;
} */

.example-full-width {
    width: 100%;
}

.white-background{
    background: white !important;
}

.mat-tab-label {
    color: white;
}